/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* stylelint-enable at-rule-no-unknown */

:root {
  /* Force light theme appearance for form controls and text */
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}
